QLabel {
    font: 75 18pt "Arial";
}

QHBoxLayout {
    border: 18pt red;
}

QLabel#statusEdit_label {
    margin: auto;
}

QLabel#tempText_label {
    font: 75 30pt "Arial";
}

QLabel#feelsText_label {
    font: 75 30pt "Arial";
}

QLabel#not_found_error_label {
    font: 10pt "Arial";
}